body {
    margin: 0;
}

a {
    color: rgb(42, 172, 128);
    text-decoration: none;
}

h1 {
    font-size: 45px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 20px;
}

#grid ol {
    border-right: solid 1px black;
    width: 140px;
    padding: 20px;
    padding-left: 30px;
    margin: 0;
}

#grid {
    display: grid;
    grid-template-columns: 200px 1fr;
}

#article {
    padding-left: 20px;
}

@media(max-width: 800px) {
    #grid {
        display: block;
    }

    #grid ol {
        border-right: none;
    }
}